.profile-card-style{
    max-width: 50%;
    height: 100%;
    margin: 2% 2% 2% 2%;
}

.profile-div-style{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.image-col-div-style{
    display: flex;
    align-items: center;
    justify-content: center;
}